*{
    font-family: sans-serif;
}

table>thead>tr>th{
    color: #7c7d82;

}
#cartbox{
    width: 95%;
    height: 600px;
    
    display: flex;
    gap: 10px;
    padding: 10px;
}

h1{
    text-align: center;
    color: #444444;
    font-size: 38px;
    font-weight: 600;
    letter-spacing: -1px;
    border: 1px solid;
}
#addedItems{
    width: 63%;
    height: 600px;
   
    display: flex;
    margin: auto;
   
    
}
#total{
    width: 32%;
    height: 400px;
    padding: 30px 5px;
    margin-top: 50px;
    resize: none;
    background-color: #f5f5f5;
    border-radius: 15px;

}
#rupees{
    position: relative;
    top: 1px;
    left: 50px;
}
#total>div{
    display: flex;
    justify-content: space-around;
 margin-bottom: 30px;
 margin-top: 50px;
 margin-left: -70px;
 color:  #444444;
 font-weight: bold;
 font-size: 18px;
}
#total>p{
    margin-left: 45px;
    line-height: 10px;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 550;
    color:  #7c7d82;
   
    
    
}
a{
    color: white;
    text-decoration: none;
}
#cobtn{
    font-size: 18px;
    background: #3c07ff;
    color: white;
    font-weight: bold;
    width: 350px;
    height: 60px;
    margin-left: 31px;
    margin-top: 40px;
    border-radius: 35px;
    border: 0px;

}
#points{
    margin-left: 900px;
    margin-top: -90px;
    line-height: 28px;
    color:  #444444;
    
}
#points>a{
    color:  #444444;
}
.p_img{
    width: 150px;
    height: 150px;
   
}
#product{
display: flex;
width: 350px;
justify-content: space-between;
}
#maindiv{
    display: flex;
    
    padding: 30px;
}
#productDetail{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: -170px;
}
#pname{
    color: #7c7d82;
    font-size: 14px;
}
#series{
    color: #444444;
    font-size: 18px;
    font-weight: bold;
}
#prc{
    color: #444444;
    font-size: 18px;
}
#counter{
    width: 150px;
    height: 40px;
    border: 0.5px solid grey;
    border-radius: 30px;
    display: flex;
    margin-left: 30px;
    
}
#add{
width: 60px;
border: 0px;
background-color: white;
font-size: 23px;
border-radius: 50%;
font-weight: bold;
color: #444444;
cursor: pointer;
}
#minus{
width: 60px;
border: 0px;
background-color: white;
font-size: 23px;
border-radius: 50%;
font-weight: bold;
color: #444444;
cursor: pointer;
}
#countDis{
width: 60px;
font-size: 17px;
display: flex;
align-items: center;
justify-content: center;
color: #7c7d82;
}
#pTotal{
margin-left: 90px;
}
#mTotal{
   font-size: 25px; 
   color: #3c07ff;
   font-weight: bold;
}
#sTotal{
    font-size: 18px;
    margin-left: 7px;
}
#reMove{
    color: #7c7d82;
    background-color: white;
    border: 0px;
    margin-left: 75px;
    text-decoration: underline;
    cursor: pointer;
}
#thT{
   
    padding-left: 80px;
    
}
#checkTotal{
    width: 90px;
    height: 50px;
    margin-top: 23px;
    font-size: 27px;
    color: #444444;
    font-weight: 600;
    margin-right: -20px;
    margin-right: -20px;
}
#rptotal>h2{
    margin-left: 50px;
    margin-top: 23px;
}
th{
    width: 2150px;
}
#productDetail{
    margin-left: -75px;
    margin-top: -20px;
}